.footer{
  padding-top: 92px;
  align-self: center;
  padding-bottom: 24px;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

@media screen and (min-width: 577px) and (max-width: 768px){
  .footer{
    padding-top: 88px;
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 576px) {
  .footer{
    padding-top: 64px;
    line-height: 14px;
  }
}