.header{
    padding-top: 34px;
    max-width: 20.39%;
}

.header__logo{
  width: 100%;
}

@media screen and (max-width: 320px) {
  .header{
    padding-top: 20px;
    /* max-width: 188px; */
    text-align: center;
    max-width: 61.84%;
  }

  /* .header__logo{
    max-width: 100%; */
    /* width: 100%;
  } */
}
