.header{
  padding-top: 34px;
  width: 19.91%;
}

.header__logo{
  width: 100%;
}

@media screen and (max-width: 320px) {
  .header{
    padding-top: 20px;
    width: 58.75%;
    text-align: center;
  }
}
