.header{
  padding-top: 34px;
  width: 19.91%;
  /* width: 50%; */
}

.header__logo{
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1279px){
  .header{
    padding-top: 30px;
    width: 33.08%;
  }
}

@media screen and (max-width: 767px) {
  .header{
    padding-top: 20px;
    width: 58.75%;
    text-align: center;
  }
}
