.image{
  padding-top: 64px;
  width: 76.88%;
  justify-self: center;
  align-self: center;
}

  .image__picture{
    width: 100%;
  }

/* @media screen and (max-width: 320px) { */
@media screen and (max-width: 576px) {
   .image{
    padding-top: 40px;
    width: 100%;
    justify-self: center;
  }

  .image__picture{
    width: 100%;
  }
}
