.image{
  width: 76.88%;
  justify-self: center;
}

  .image__picture{
    padding-top: 64px;
    width: 100%;
  }

@media screen and (max-width: 320px) {
   .image{
    width: 100%;
    justify-self: center;
  }

  .image__picture{
    padding-top: 40px;
    width: 100%;
  }
}
