.lead{
  /* max-width: 720px; */
  max-width: 57.60%;
  margin: auto;
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.lead__title{
  margin: 0;
  width: 100%;
  font-family: Inter;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

.lead__subtitle{
  width: 100%;
  font-family: Inter;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

@media screen and (max-width: 320px) {
 .lead{
    /* max-width: 288px; */
    max-width: 100%;
    padding-top: 50px;
    gap: 16px;
  }

  .lead__title{
    width: 94.74%;
    font-size: 40px;
    line-height: 44px;
  }

  .lead__subtitle{
    width: 94.74%;
    font-size: 16px;
    line-height: 20px;
  }
}