/* @font-face {
  font-family: 'Inter';
  src: url(https://practicum-content.s3.us-west-1.amazonaws.com/frontend-developer/responsive/moved_Inter-Regular.woff);
  font-weight: normal;
} */

.page{
  width: 1280px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-items: center ;
  align-items: center;
  padding: 0;
  background-color: #2A2C2F;
  color: white;
}

@media screen and (max-width: 576px)  {
  .page{
    max-width: 320px;
    background-color: green;
  }
}
