.photo-grid{
  padding-top: 118px;
  margin: auto;
  width: 76.87%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
  "item item item item"
  "item item item item";
  gap: 16px;
}

.photo-grid__item{
  width: 100%;
}

@media screen and (min-width: 321px) and (max-width: 1279px){
  .photo-grid{
    width: 93.75%;
    padding-top: 64px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    "item item"
    "item item"
    "item item"
    "item item";
    gap: 16px;
  }

  .photo-grid__item{
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid{
    padding-top: 38px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
    "item";
    gap: 16px;
  }

  /* .photo-grid__item{
    width: 100%;
  } */
}