.places{
  padding-top: 92px;
  width: 77.11%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 80px;
  font-family: Inter;
}

@media screen and (min-width: 321px) and (max-width: 1279px){
  .places{
    padding-top: 88px;
    width: 93.75%;
    gap: 72px;
  }
}

@media screen and (max-width: 320px) {
  .places{
    padding-top: 62px;
    width: 100%;
    gap: 50px;
  }
}
